numpy
pandas
seaborn


# torch
# torchvision

scikit-learn

opencv-python
opencv-python-headless
Pillow
albumentations

matplotlib

# timm

tqdm

tensorboard

jupyterlab
ipywidgets

PyYAML

requests

joblib