# Dataset dan model berukuran besar
dataset/*
!dataset/.gitkeep
models/*
!models/.gitkeep
logs/*
!logs/.gitkeep

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/

# Virtual environment
venv/
.venv/
env/

# Environment dan kredensial
.env
.env.*
*.key
*.pem

# IDE
.vscode/
.idea/

# Sistem operasi
.DS_Store
Thumbs.db

# Hasil training
*.pth
*.pt
*.onnx
*.h5
*.ckpt
events.out.tfevents.*

# Arsip dataset
*.zip
*.rar
*.7z

data-augmentation.ipynb
Evaluasi hasil Train dan Validasi Model 5Layer.ipynb
Evaluasi hasil Train dan Validasi Model.ipynb
pipeline_ccsn_gcd_mgcd_resnet50 (2).ipynb
pipeline_ccsn_gcd_mgcd_resnet50.ipynb

pipeline_2_eksperimen_terkontrol_resnet50.ipynb
resnet50_confusion_matrix.png
resnet50_pipeline_loss_curve.png
resnet50_test_confusion_matrix-Fine-Tuning.png
resnet50_test_confusion_matrix.png
resnet50_test_confusion_matrix_pipeline.png